In [1]:
# Jupyter challenge (4) notebook
import pandas as pd

In [2]:
school_data_load = "Resources/schools_complete.csv"
student_data_load = "Resources/students_complete.csv"

In [3]:
school_data = pd.read_csv(school_data_load)
student_data = pd.read_csv(student_data_load)

In [4]:
school_data_c = pd.merge(student_data,school_data,how='left', on=["school_name","school_name"])
school_data_c.head(15)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635

In [5]:
# unique school count
# 1.) set index for quiered column
school_count = len(pd.unique(school_data_c["school_name"]))
#school_count = school_data_c["school_name"].value_counts()
school_count

15

In [6]:
student_count = len(pd.unique(school_data_c["Student ID"]))
student_count

39170

In [7]:
total_budget = school_data["budget"].sum()
total_budget

24649428

In [8]:
average_math_score = school_data_c["math_score"].mean()
average_math_score

78.98537145774827

In [9]:
average_reading_score = school_data_c["reading_score"].mean()
average_reading_score

81.87784018381414

In [10]:
passing_math_count = school_data_c[(school_data_c["math_score"] >=70)].count()["student_name"]
passing_math_percent = passing_math_count / float(student_count) * 100
passing_math_percent

74.9808526933878

In [11]:
passing_reading_count = school_data_c[(school_data_c["reading_score"] >= 70)].count()["student_name"]
passing_reading_percent = passing_reading_count / float(student_count) * 100
passing_reading_percent

85.80546336482001

In [12]:
passing_math_reading_count = school_data_c[
    (school_data_c["math_score"] >= 70) & (school_data_c["reading_score"]>=70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count / float(student_count) * 100 
overall_passing_rate

65.17232575950983

In [13]:
district_summary = pd.DataFrame([[school_count,student_count,total_budget,average_math_score,average_reading_score,passing_math_percent,
               passing_reading_percent,overall_passing_rate]],columns=["Total Schools" ,"Total Students","Total Budget", "Average Math Score",
                                                                          "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"])

district_summary['Total Students'] = district_summary['Total Students'].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [14]:
# School Summary Section

In [15]:
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [16]:
student_p_school = school_data.set_index(["school_name"])["size"]
student_p_school

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [17]:
per_school_budget = school_data_c.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / student_p_school
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [18]:
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [38]:
per_school_math = school_data_c.groupby(["school_name"]).mean()["math_score"]
per_school_reading = school_data_c.groupby(["school_name"]).mean()["reading_score"]
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [20]:
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [44]:
school_passing_math = per_school_math[(per_school_math) >= 70].count()
#passing_math_count = school_data_c[(school_data_c["math_score"] >=70)].count()["student_name"]
school_passing_math

15

In [45]:
school_passing_reading = per_school_reading[(per_school_reading) >= 70]
school_passing_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [23]:
passing_math_and_reading = school_data_c[
    (school_data_c["reading_score"] >= 70) & (school_data_c["math_score"]>=70)
]
passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [46]:
per_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / student_p_school * 100
#^ intended code from "starter" file 
#er_school_passing_math = school_passing_math / student_p_school * 100
per_school_passing_math

AttributeError: 'numpy.int64' object has no attribute 'groupby'

In [32]:
per_school_passing_reading = school_data_c.groupby(["school_name"]).count()["student_name"] / student_p_school * 100
per_school_passing_reading

school_name
Bailey High School       100.0
Cabrera High School      100.0
Figueroa High School     100.0
Ford High School         100.0
Griffin High School      100.0
Hernandez High School    100.0
Holden High School       100.0
Huang High School        100.0
Johnson High School      100.0
Pena High School         100.0
Rodriguez High School    100.0
Shelton High School      100.0
Thomas High School       100.0
Wilson High School       100.0
Wright High School       100.0
dtype: float64

In [29]:
school_data_c

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130