In [1]:
# Jupyter challenge (4) notebook
import pandas as pd

In [2]:
school_data_load = "Resources/schools_complete.csv"
student_data_load = "Resources/students_complete.csv"

In [3]:
school_data = pd.read_csv(school_data_load)
student_data = pd.read_csv(student_data_load)

In [4]:
school_data_c = pd.merge(student_data,school_data,how='left', on=["school_name","school_name"])
school_data_c.head(15)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635

In [5]:
# unique school count
# 1.) set index for quiered column
school_count = len(pd.unique(school_data_c["school_name"]))
#school_count = school_data_c["school_name"].value_counts()
school_count

15

In [6]:
student_count = len(pd.unique(school_data_c["Student ID"]))
student_count

39170

In [7]:
total_budget = school_data["budget"].sum()
total_budget

24649428

In [8]:
average_math_score = school_data_c["math_score"].mean()
average_math_score

78.98537145774827

In [9]:
average_reading_score = school_data_c["reading_score"].mean()
average_reading_score

81.87784018381414

In [10]:
passing_math_count = school_data_c[(school_data_c["math_score"] >=70)].count()["student_name"]
passing_math_percent = passing_math_count / float(student_count) * 100
passing_math_percent

74.9808526933878

In [11]:
passing_reading_count = school_data_c[(school_data_c["reading_score"] >= 70)].count()["student_name"]
passing_reading_percent = passing_reading_count / float(student_count) * 100
passing_reading_percent

85.80546336482001

In [12]:
passing_math_reading_count = school_data_c[
    (school_data_c["math_score"] >= 70) & (school_data_c["reading_score"]>=70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count / float(student_count) * 100 
overall_passing_rate

65.17232575950983

In [13]:
district_summary = pd.DataFrame([[school_count,student_count,total_budget,average_math_score,average_reading_score,passing_math_percent,
               passing_reading_percent,overall_passing_rate]],columns=["Total Schools" ,"Total Students","Total Budget", "Average Math Score",
                                                                          "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"])

district_summary['Total Students'] = district_summary['Total Students'].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [28]:
# School Summary Section

In [29]:
# Use the code provided to select the school type

school_types = school_data.set_index(["school_name"])["type"]

In [30]:
# Calculate the total student count

student_p_school = school_data.set_index(["school_name"])["size"]

In [31]:
# Calculate the total school budget and per capita spending

per_school_budget = school_data_c.groupby(["school_name"])["budget"].mean()
per_school_capita = per_school_budget / student_p_school

In [32]:
# average test scores - math

scores_p_school_math = school_data_c.groupby(["school_name"])["math_score"].mean()

In [33]:
# average test scores - reading

scores_p_school_reading = school_data_c.groupby(["school_name"])["reading_score"].mean()
#groupby() -> are made into SERIES.. NOT DATAFRAMES .. 
# series are used to produce COLUMNS INSIDE OF DATAFRAMES

In [34]:
# Calculate the number of schools with math scores of 70 or higher

school_passing_math = school_data_c[school_data_c["math_score"]>=70]  
# ^^  creating DF to contain list of students within schools with >= 70 
# ^^ we are using filter to create subset of DF 
#Use a conditional where you filter out the students with math scores >= 70
#need math_score for students within those schools >= 70

In [35]:
# Calculate the number of schools with reading scores of 70 or higher

school_passing_reading = school_data_c[school_data_c["reading_score"]>=70]  
#^^ creating dataframes in order to extract info later on

In [36]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher

passing_m_and_r = school_data_c[
    (school_data_c["reading_score"]>=70) & (school_data_c["math_score"]>=70)
]

In [37]:
# Use the provided code to calculate the passing rates (for each school)
# math
school_passing_rates_math = school_passing_math.groupby(["school_name"]).count()["student_name"]/student_p_school * 100

In [38]:
# Use the provided code to calculate the passing rates

#  reading
school_passing_rates_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"]/student_p_school * 100

In [39]:
# Use the provided code to calculate the passing rates

#  passing rates of both
school_passing_rates_both = passing_m_and_r.groupby(["school_name"]).count()["student_name"]/student_p_school * 100

In [55]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

per_school_summary = pd.DataFrame([[school_types,student_p_school,per_school_budget,per_school_capita,scores_p_school_math,
                                   scores_p_school_reading,school_passing_rates_math,school_passing_rates_reading,school_passing_rates_both]],columns=
["School Type", "Total Students", "Total School Budget","Per Student Budget", "Average Math Scoes","Average Reading Scores",
"% Passing Math","% Passing Reading","% Overall Passing"])


per_school_summary

# Formatting

# Display the DataFrame

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Scoes,Average Reading Scores,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School District ...,school_name Huang High School 2917 Figu...,school_name Bailey High School 3124928.0...,school_name Bailey High School 628.0 Cab...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...